* {
    /* border: 1px solid red; */
}

:root {
    height: 100vh;

    overflow: hidden;
}

#inputBarContainer {
    list-style: none;
    
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
}

#inputBarContainer div {
    height: 50px;

    padding: 20px 0 10px 0;
    margin: 10px;
    
    text-align: center;
    user-select: none;

    flex: 0 1 7.5%;

    background-color: rgb(0, 0, 0, 0.25);
}

@media all and (max-width: 1000px) {
    #inputBarContainer {
        height: 100%;
        flex-flow: row wrap;
    }
    
    #inputBarContainer div {
        height: 33%;
        border: 2px solid black;
        flex: 1 0 25%;
    }

    #drumKitContainer {
        display: none;
    }

    #sequencerContainer {
        display: none;
    }
}

@media all and (max-width: 600px) {
    #inputBarContainer {
        height: 100%;
        flex-flow: row wrap;
    }
    
    #inputBarContainer div {
        height: 20%;
        border: 2px solid black;
        flex: 1 0 33%;
    }

    #drumKitContainer {
        display: none;
    }

    #sequencerContainer {
        display: none;
    }
}